body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E8E8E8	;
  font-family: "Poppins";
}
#form{
  display: flex;
  justify-content: space-around;
}
.todo-items{
  display: flex;
  gap: 40px;
  padding-top: 50px;
  justify-content: center;
  
}

.btn {
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  background-color: #0197f6;
}

.update{
  background-color: #0197f6;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}
.completed{
  background-color: #ddd;
  /* text-decoration: line-through; */
}
.todo-card {
  background-color:white;
  width: 60%;
  /* height: 90vh; */
  /* border: 1px solid green; */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  

}
.delete{
  background-color: rgb(220 38 38);
}

